      <div class="sidebar">
          <div class="sidebar-wrapper">
            <% get_content["steps"].each_with_index do |step, index| %>
              <% n = index + 1 %>
              <a class="item sidebar__item <%= "sidebar__item--selected" if n === 1 %>" data-step="<%= n %>" href="#baby-step-<%= n %>">
                <span class="sidebar__text"><%= step["title"] %></span>
                <div class="sidebar__icon bs-<%= n %>__asset"></div>
              </a>
            <% end %>
          </div>
        </div>
